# DockSight local development infrastructure
POSTGRES_DB=docksight
POSTGRES_USER=docksight
POSTGRES_PASSWORD=docksight-password
POSTGRES_PORT=5432
REDIS_PORT=6371
JWT_SECRET=UliOy9JA-GoqJ0jrIk68vqv4GUdQduBH-_2Uoq4MEVK4KTibiKd6yAcodRh0mdkV

